<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <!--数据库映射驼峰-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!--开启缓存-->
        <setting name="cacheEnabled" value="true"/>
        <!--开启日志-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <!--设置主键自增-->
        <setting name="useGeneratedKeys" value="true"/>
        <!---->
    </settings>
    <!--给文件配置别名 方便*mapper.xml映射-->
    <typeAliases>
        <package name="com.auto.pojo"/>
    </typeAliases>
    
</configuration>