<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <base th:href="@{/}"/>
    <link rel="stylesheet" href="css/boke/index.css">
</head>
<body>
<div id="app">
    <div class="navbar">
        <ul>
            <li><a href="index.html">首页</a></li>
            <li><a href="category.html" >个人相册</a></li>
            <li><a href="admin/index.html" >后台管理</a></li>
        </ul>
        <ul>
            <li><a href="login.html">登录</a></li>
            <li><a href="#">注册</a></li>
            <li><a href="#">注销</a></li>
        </ul>
    </div>

    <div class="album">
        <div class="photo" v-for="picture in pictureList.slice(0,8)" :key="picture.id" @click="showPhoto(picture)" >
            <img :src="'http://localhost:9090/photo' + picture.imgPath" alt="图片">
        </div>
    </div>
    <div class="modal" v-if="selectedPhoto">
        <div class="modal-content">
<!--            <span class="close" @click="closeModal">&times;</span>-->
<!--            <img :src="selectedPhoto.imgPath" alt="照片">-->
<!--            <h2>{{ selectedPhoto.picName }}</h2>-->
<!--            <p>{{ selectedPhoto.content }}</p>-->
        </div>
    </div>
</div>

<script src="https://unpkg.com/vue@2.6.14/dist/vue.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            pictureList: [],
            selectedPhoto: null
        },
        mounted() {
            this.loadAlbum();
        },
        methods: {
            loadAlbum() {
                axios.get('/photo/pic')
                    .then(response => {
                        // console.log(response.data); // 检查返回的数据
                        if (response.data.status) {
                            this.pictureList = response.data.data;
                        } else {
                            console.error(response.data.message);
                        }
                    })
                    .catch(error => {
                        console.error(error);
                    });
            },
            showPhoto(photo) {
                this.selectedPhoto = photo;
            },
            closeModal() {
                this.selectedPhoto = null;
            }
        }
    });
</script>
</body>
</html>
