<!DOCTYPE html>
<html>
<head>
  <base th:href="@{/}">
  <link rel="stylesheet" th:href="@{css/boke/picture.css}">
</head>
<body>
<h1>照片墙</h1>

<div id="app">
  <div class="gallery">
    <div v-for="image in images" class="gallery-item">
      <img :src="image.src" :alt="image.alt">
      <div class="gallery-item-overlay" v-on:click="showImage(image)">
        <i class="gallery-item-overlay-icon">+</i>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
  // JavaScript 代码可在此处添加，用于处理交互逻辑等
  new Vue({
    el: '#app',
    data: {
      images: [
        { src: 'localhost:9090/photo/img/boke/3ad2b7e86f.jpg', alt: '图片1' },
        { src: 'localhost:9090/photo/img/boke/3ad2b7e86f.jpg', alt: '图片1' },
        { src: 'localhost:9090/photo/img/boke/3ad2b7e86f.jpg', alt: '图片1' }
        // 添加更多图片对象
      ]
    },
    methods: {
      showImage: function(image) {
        // 在此处添加显示大图或相关信息的逻辑
        console.log('显示图片：', image);
      }
    }
  });
</script>
</body>
</html>
